*{
	box-sizing: border-box;
top:0px;
left:0px;
margin:0;


}
h1{
text-align: center;
text-shadow: 1px 1px blueviolet;
animation-duration:4s ;
text-shadow:1px 1.2px 2px white;
animation-name: colorchange;
animation-iteration-count: infinite;


}

@frames colorchange{
	0%{text-shadow:2px 2px 4px green;}
	50%{text-shadow: 1px 1px red;}
	100%{text-shadow:2px 2px orange;}
}
#nav  {

list-style-type: none;
float: right;
display: flex;
font-family: monospace;
font-size: 1.3em;



}
div{

	
padding:0px;
position:relative;
top:0;
margin:0;


}
#nav li{

	padding: 15px;
}
h2{

text-shadow: 1.2px 1.2px greenyellow;
text-align: center;
font-family: cursive;
text-decoration: underline;
font-size: 3vw;

}

}
p,li{
	text-transform: capitalize;
	padding: 5px;
}
p::first-letter{
color: red;
font-weight: bold;
font-size: 1.4em;}
img{
	border-radius: 14px;
	border-color: red;
	border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: groove;
  border-left-style: inset;
  border-bottom-color: green;
}
h3,h4{

	text-shadow: 1.1px 1px orange;
	font-family: monospace;
	
	font-size: 1.3em;
}
footer{
     background-color: brown;
     padding: 10px;
     color: white;

}
ol  {
	list-style-type: none;
}
@media screen and (max-width: 760px) {
  #nav li  {
    padding: 4px;
  }
  #nav{font-size: 14px;}
h1{font-size:1.2em;}

}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
tr:nth-child(odd){
	background-color: orange;
}
tr:nth-child(even){
	background-color: brown;
	color: white;
}
